*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Lato", "sans-serif";
    overflow: hidden;
}

.icon {
    width: 24px;
    height: 24px;
}

.priceContainer{
    max-width: 90px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(235, 252, 135);

    font-size: 14px;
    font-weight: 500;
    color: rgb(5, 3, 45);

    display: flex;
    justify-content: center;
}